// color
$base-color: #f5f1ea;
$black-color: #262627;
$blue-color: #c6dcfd;
$red-color: #e63946;
$white-color: #fff;

:root {
  --base-color: #f5f1ea;
  --black-color: #262627;
  --blue-color: #c6dcfd;
  --red-color: #e63946;
}
