// color
//$base-color: #FFFBD6;
$base-color: #FFFDEB;
//$base-color: #fffef2;
$black-color: #333;
$gray-color: rgba(51, 51, 51, .2);
$blue-color: #c6dcfd;
$red-color: #e63946;
$white-color: #FFFEF2;

:root {
  --base-color: #f5f1ea;
  --black-color: #262627;
  --blue-color: #c6dcfd;
  --red-color: #e63946;
}
