//fonts
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,500,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500&display=swap');

//fonts
$font-roboto: "Roboto", sans-serif;
$font-sans: "Open Sans", sans-serif;
$font-jost: 'Jost', sans-serif;
$font-hind: 'Hind Vadodara', sans-serif;
