.activity-new,
.activity-edit {
  h1,
  h2,
  p  {
      color: $black-color;
  }

  h1 {
    margin-top: 35px;
  }

  p  {
    font-size: 12px;
  }

  label {
    display: none;
  }

  .form-control {
    border-bottom: 1px solid $black-color;
    border-radius: 0;
    margin-bottom: 40px;
    background-color: $white-color;
    color: $black-color;

    &::placeholder {
      opacity: 1;
      color: $black-color;
      font-weight: 300;
    }
  }

  .form-control:focus {
    color: $black-color;
    background-color: $white-color;
    border-color: $black-color;
    outline: 0;
    box-shadow: none;
    border-bottom: 1px solid $black-color;
    border-radius: 0;
  }

    select {
    border: none;
    background-color: $white-color;
    color: rgba(255, 255, 255, 0.76);
    font-size: 16px;
    -webkit-appearance: none; // hide arrow for chrome
    -moz-appearance: none; // hide arrow for firefox
  }

    option {
    background-color: $white-color;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    padding: 10px 0;
    margin: 10px 0;
  }

  .col-form-label {
      display: none;
  }

  .form-check-label {
    display: inline-block;
    text-transform: uppercase;
  }

  .form-check-input {
    position: static;
    margin-right: 8px;
  }

  .form-group.radio_buttons {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    margin-top: 25px;
  }

  .form-check {
    margin-right: 35px;
  }
}
