.groups-new {
  .form-control {
    border-bottom: 1px solid $black-color;
    border-radius: 0;
    margin: 35px 0;
  }

  .form-control:focus {
    color: $black-color;
    background-color: transparent;
    border-color: $black-color;
    outline: 0;
    box-shadow: none;
    border-bottom: 1px solid $black-color;
    border-radius: 0;
  }

  label {
  display: none;
  }

  .group-name {
    margin: 20px 0;
  }

  .acc-tabpanel-inner p {
    margin-bottom: 8px;
  }

  .action-wrapper .btn {
    margin-left: 0;
    margin-right: 10px;
  }
}
