.groups-index {
  .form-control {
    border-bottom: 1px solid $black-color;
    border-radius: 0;
    margin: 35px 0;
  }
  
  .item-row {
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      margin-right: 16px;
      font-weight: lighter;
    }
  }

  .form-control:focus {
    color: $black-color;
    background-color: transparent;
    border-color: $black-color;
    outline: 0;
    box-shadow: none;
    border-bottom: 1px solid $black-color;
    border-radius: 0;
  }

  label {
  display: none;
  }

  .group-name {
    margin: 20px 0;
  }

  @include media-breakpoint-down(xs) {
    .acc-tabpanel-inner {
      display: block;
    }

    .text-thin {
      margin: 5px;
    }
  }
}

.action-wrapper.index-wrapper {
  display: block;
}
