.home {
  display: flex;
  background-color: $base-color;
  min-height: 100vh;

  .context {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h2 {
    margin: 50px;
  }

  .form-actions {
    display: flex;
    justify-content: center;
  }
}
