.home {
  display: flex;
  background-color: $base-color;
  min-height: calc(100vh - 70px);

  .context {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-weight: 400;

    span {
      font-size: 44px;
    }
  }

  text-align: left;
  width: 100%;

  h2 {
    margin: 50px;
  }

.footer {
  position: absolute;
  bottom: 20px;
  left: 20px;
}


@include media-breakpoint-down(xs) {
  h1,
  h2 {
    text-align: left;
    width: 100%;
  }

    .heading {
      display: block;
    }

  .footer {
    bottom: 10px;
    left: 10px;
    }
  }
}
