.members {
  .form-control {
    border-bottom: 1px solid $black-color;
    border-radius: 0;
    margin: 35px 0;
  }

  .form-control:focus {
    color: $black-color;
    background-color: transparent;
    border-color: $black-color;
    outline: 0;
    box-shadow: none;
    border-bottom: 1px solid $black-color;
    border-radius: 0;
  }

  .wrapper {
    position: relative;
  }

  .cross {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 18px;
  }
}
