#splits-index-page {
  background-color: $base-color;
  min-height: 100vh;
  min-height: 100vh;
  display: flex;
  width: 100%;
  align-items: center;
}

#splits-index-heading {
  padding-bottom: 70px;
  font-size: 20px;
}

#splits {

}

.row {
  width: 800px;
}

#splits-index-container {
  display: flex;
}

.split-card {
  padding: 20px;
}

.split-member {
  font-weight: bold;
  font-size: 20px;
}

#splits-index-container-right {
}
