.splits-index {
  .context {
    margin: 35px 0;
  }

  .heading {
    margin: 20px 0;
  }

  .sum {
    margin: 40px 0;
  }

  .total {
    font-weight: normal;
  }

  .subtracting,
  .additional {
    font-size: 12px;
  }

  .balance {
    font-weight: 400;
  }

  .btn-outstanding {
    color: $red-color;
    border-color: $red-color;
  }

  .btn-paid {
    color: $blue-color;
    border-color: $blue-color;
  }

  .btn-wrapper ul {
    display: flex;
    transition: all .3s ease;
    position: relative;

    &.is-active {
      display: none;
    }

    li {
      position: absolute;
    }

    .whatsapp {
      left: 75px;
    }

    .slack {
      left: 150px;
    }
  }
}
