.splits-index {
  #splits-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .context {
    margin: 35px 0;
  }

  .heading {
    margin: 20px 0;
  }

  .sum {
    margin: 40px 0;
  }

  .total {
    font-weight: normal;
  }

  .subtracting,
  .additional {
    font-size: 12px;
  }

  .balance {
    font-weight: 400;
  }

  .btn-outstanding {
    color: $red-color;
    border-color: $red-color;
  }

  .btn-paid {
    color: $blue-color;
    border-color: $blue-color;
  }

  .share-wrapper {
    position: relative;
    z-index: 1;

    .btn-icon {
      @include media-breakpoint-down(xs) {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        justify-content: center;
      }
    }
  }

  .btn-link {
    position: relative;
    z-index: 1;
  }

  .btn-wrapper .btn {
    max-height: 44px;
  }

  .btn-wrapper ul {
    display: flex;
    position: absolute;
    top: 0;
    left: 100%;
    transition: all .3s ease;

    @include media-breakpoint-down(xs) {
      width: 100%;
      flex-direction: column;
      left: 0;
      bottom: 100%;
      top: inherit;
      padding: 5px;
    }

    &.is-active {
      opacity: 0;
      pointer-events: none;
      left: 0;

      @include media-breakpoint-down(xs) {
        bottom: 0;
      }
    }
  }


  .form-inline {
    width: 100%;
    justify-content: space-between;
  }

  .accordion .action-wrapper {
    justify-content: flex-end;
  }

  .accordion .acc-tabpanel-inner {
      display: block;
  }

  .form-control:focus {
    background-color: $base-color;
  }
}
