.splits-index {
  background-color: $base-color;
  min-height: 100vh;
  display: flex;
  width: 100%;
  align-items: center;
  padding-bottom: 80px;

  width: 100%;
  align-items: center;
  padding-bottom: 80px;

  .sum {
    margin: 40px 0;
  }

  .total {
    font-weight: normal;
  }

  .subtracting,
  .additional {
    font-size: 12px;
  }

  .balance {
    font-weight: 400;
    font-size: 22px;
  }

  .btn-outstanding {
    color: $red-color;
    border-color: $red-color;
  }

  .btn-paid {
    color: $blue-color;
    border-color: $blue-color;
  }
}
