.splits-index {
  .heading {
    margin: 20px 0;
  }

  .sum {
    margin: 40px 0;
  }

  .total {
    font-weight: normal;
  }

  .subtracting,
  .additional {
    font-size: 12px;
    font-weight: 300;
  }

  .balance {
    font-weight: 400;
  }

  .outstanding {
    font-size: 18px;
    font-weight: 400;
    margin: 25px 0;
  }

  .sum-wrapper {
    margin: 25px 0px;
  }

  .acc-wrapper {
    margin: 55px 0;
  }

  .btn-outstanding {
    color: $red-color;
    border-color: $red-color;
  }

  .btn-paid {
    color: $blue-color;
    border-color: $blue-color;
  }

  label {
    font-size: 14px;
    font-weight: 300;
  }

  .share-wrapper {
    position: relative;
    z-index: 1;

    .btn-icon {
      @include media-breakpoint-down(xs) {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        justify-content: center;
      }
    }
  }

  .btn-link {
    position: relative;
    z-index: 1;
  }

  .btn-wrapper .btn {
    max-height: 44px;
  }

  .btn-wrapper ul {
    display: flex;
    position: absolute;
    top: 0;
    left: 100%;
    transition: all .3s ease;

    @include media-breakpoint-down(xs) {
      width: 100%;
      flex-direction: column;
      left: 0;
      bottom: 100%;
      top: inherit;
      padding: 5px;
    }

    &.is-active {
      opacity: 0;
      pointer-events: none;
      left: 0;

      @include media-breakpoint-down(xs) {
        bottom: 0;
      }
    }
  }


  .form-inline {
    width: 100%;
    justify-content: space-between;
  }

  .accordion .action-wrapper {
    justify-content: flex-end;
  }

  .form-control:focus {
    background-color: $base-color;
  }

  @include media-breakpoint-up(lg) {
    .split-acc-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-start;
    }

    .split-acc {
      flex-basis: 47%;
    }
  }
}

.splits-evenly {
  .acc-tabpanel-inner {
    display: flex;
    justify-content: space-between;
  }
}

.split-individually {
  .acc-tabpanel-inner {
      display: block;
  }

    @include media-breakpoint-down(xs) {
    .form-group {
      display: flex;
      align-items: center;
    }
  }

  .form-control {
      font-size: 14px;
      border: none;
      font-weight: 400;

      @include media-breakpoint-down(xs) {
      width: 100px;
      margin-bottom: 7px;
    }
  }
}
