<h2>name the divide</h2>
<p>here you can choose a title</p>
<%= simple_form_for @group do |f| %>
<%= f.input :group_name, placeholder: 'ðŸ‘‰ðŸ¼ best team ever' %>
<%= f.submit 'ðŸ’¾SAVE GROUP TO MY ACCOUNT' %>
<% end %>