.btn {
  font-family: $font-hind;
  font-size: 14px;
  padding: 15px 25px;
  margin: 5px;
  line-height: 1.1;
  border: 1px solid $gray-color;
  color: $black-color;
  transition: color 200ms cubic-bezier(0.645, 0.045, 0.355, 1), background-color 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
  letter-spacing: 0.5px;
  border-radius: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  outline: none;

  &:hover,
  &:focus {
    background-color: $black-color;
    color: $white-color;
  }

  &:focus {
    border-color: transparent;
    box-shadow: transparent;
    box-shadow: none;
    outline: none;
  }
}

.btn-light {
  background-color: transparent;

  &:hover,
  &:focus {
    background-color: $black-color;
    color: #fff;
  }
}

.btn-dark {
  background-color: $black-color;
  color: #fff;
  border: none;

  &:hover,
  &:focus {
    background-color: $blue-color;
    color: $black-color;
  }
}

.btn-big {
  font-size: 16px;
  padding: 20px 30px;
  margin: 15px;
  display: block;
}

.btn-small {
  font-size: 12px;
  padding: 8px 10px;

    &:hover {
    background-color: transparent;
    color: $black-color;
  }
}

.btn-color {
  background-color: $base-color;
  color: $black-color;
  border: none;

  &:hover,
  &:focus {
    background-color: $blue-color;
    color: $black-color;
  }

  &:focus {
    border-color: transparent;
    box-shadow: transparent;
    box-shadow: none;
  }
}

.btn-minimal {
  font-size: 12px;
  border-bottom: 1px solid $gray-color;
  color: $gray-color;
  margin: 10px;
}

.btn-link:hover {
  text-decoration: none;
}

.btn-icon {
  font-size: 16px;
}
