.btn-light {
  font-size: 12px;
  padding: 10px 12px;
  margin: 5px;
  border: 1px solid $black-color;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: $black-color;
    color: #fff;
  }
}

.btn-dark {
  font-size: 12px;
  padding: 10px 12px;
  background-color: $black-color;
  color: #fff;
  border: none;

  &:hover {
    background-color: $blue-color;
    color: $black-color;
  }
}

// .btn-color {
// }

.btn-minimal {
  font-size: 12px;
}
