label {
  font-size: 12px;
  font-weight: 400;
  color: $black-color;
  line-height: 20px;
}

.form-control {
  font-size: 16px;
  border: none;
  background-color: $base-color;
  font-weight: 300;

  &::placeholder {
    opacity: 1;
    color: $black-color;
    font-weight: 300;
  }
}
