label {
  font-size: 12px;
  font-weight: 400;
  color: $black-color;
  line-height: 20px;
}

.form-control {
  font-size: 16px;
  border: none;
  background-color: $base-color;
  font-weight: 300;

  &::placeholder {
    opacity: 1;
    color: $black-color;
    font-weight: 300;
  }
}


.was-validated .form-control:valid, .form-control.is-valid {
  border-color: $blue-color;
  background-image: none;
}

.was-validated .form-control:valid:focus, .form-control.is-valid:focus {
  border-color: $blue-color;
  box-shadow: none;
}
