h1 {
  font-family: $font-hind;
  font-weight: 300;
  font-size: 44px;
  color: $black-color;

  sup {
    font-size: 25px;
    font-weight: 400;
  }

  @include media-breakpoint-down(xs) {
    font-size: 38px;
  }
}

h2 {
  font-family: $font-hind;
  font-weight: 300;
  font-size: 24px;
  color: $black-color;

  sup {
    font-size: 15px;
    font-weight: 400;
  }

  @include media-breakpoint-down(xs) {
    font-size: 22px;
  }
}

h3 {
  font-family: $font-sans;
  font-weight: 300;
  font-size: 18px;
  color: $black-color;

  @include media-breakpoint-down(xs) {
    font-size: 16px;
  }
}

p {
  font-family: $font-sans;
  font-weight: 400;
  font-size: 14px;
  color: $black-color;
}

span {
  font-family: $font-sans;
  font-size: 14px;
  font-weight: 400;
}
