h1 {
  font-family: $font-jost;
  font-weight: 300;
  font-size: 44px;
  color: $black-color;

  sup {
    font-size: 25px;
    font-weight: 400;
  }
}

h2 {
  font-family: $font-sans;
  font-weight: 300;
  font-size: 24px;
  color: $black-color;

  sup {
    font-size: 15px;
    font-weight: 400;
  }
}

h3 {
  font-family: $font-sans;
  font-weight: 300;
  font-size: 18px;
  color: $black-color;
}

p {
  font-family: $font-sans;
  font-weight: 400;
  font-size: 14px;
  color: $black-color;
}

span {
  font-size: 14px;
  font-weight: 400;
}

.text-thin {
  font-weight: 300;
}
