.setup {
  min-height: 100vh;
  width: 100%;
  padding-bottom: 80px;
  background-color: $base-color;
  display: flex;
  align-items: center;
  padding-bottom: 80px;
  padding-top: 35px;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
}

.lighter {
  font-weight: 300;
}


.was-validated .form-control:valid, .form-control.is-valid {
    border-color: $blue-color;
}
