.setup {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  width: 100%;
  padding-bottom: 80px;
  background-color: $base-color;
  display: flex;
  align-items: center;
  padding-bottom: 80px;
  padding-top: 35px;

  /*
   * fix 100vh for safari mobile.
   * but -webkit-fill-available bugs in chrome, so we only want to adress safari mobile.
   * https://stackoverflow.com/questions/37112218/css3-100vh-not-constant-in-mobile-browser
  */
  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) and (stroke-color: transparent) {
      min-height: -webkit-fill-available;
    }
  }
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
}

.text-thin {
  font-weight: 300;
}
