html {
  box-sizing: border-box;
  font-family: $font-sans;
  color: $black-color;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  position: relative;
}

img {
  width: 100%;
}

button,
input {
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  box-shadow: none;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  text-decoration: none;
  background: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: $font-roboto;
}

select {
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none; // hide arrow for chrome
  -moz-appearance: none; // hide arrow for firefox
}
