<div class="container">
  <%= simple_form_for [@activity_cost, @split] do |f| %>
      <%= f.input :split_type, as: :radio_buttons, collection: ['evenly', 'individualy']%>
      <%= link_to "back",  edit_group_activity_cost_path(@activity_cost.group, @activity_cost), class:"btn btn-light" %>
      <%= f.submit "next", class:"btn btn-light" %>
    <% end %>
</div>
