.accordion-wrapper {
  margin: 35px 0;

  sup {
    font-size: 14px;
  }
}

.accordion {
  border-bottom: 1px solid black;

  .acc-btn {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    outline: none;
  }

  .acc-tabpanel {
    width: 100%;
  }

  .acc-tabpanel-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  @include media-breakpoint-down(xs) {
    .acc-tabpanel-inner {
      display: block;
      margin: 5px;
    }

    .text-thin {
      margin-bottom: 15px;
      margin-left: 5px;
    }
  }

  .action-wrapper {
    display: flex;
    align-items: center;

    .btn-light {
      margin-right: 10px;
    }
  }

  .is-open {
    .plus {
    transform: rotate(45deg);
    }
  }

  .acc-inner-text {
    font-weight: 300;
    margin: 5px;
  }
}

// .split-acc {
//   margin-bottom: 20px;
//   width: 45%;
// }


// #splits-container {
//   display: flex;
//   justify-content: space-between;
//   flex-wrap: wrap;
// }
