.alert {
  font-family: $font-sans;
  font-size: 12px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;

  .close {
    font-family: $font-sans;
    color: $black-color;
    opacity: 1;
    top: -4px;
  }
}

.alert-dismissible {
  padding-right: 35px;
}

.alert-info {
    color: $blue-color;
    background-color: $base-color;
    border-color: $blue-color;

  .close {
    color: $blue-color;
  }
}

.alert-warning {
    color: $red-color;
    background-color: $base-color;
    border-color: $red-color;

  .close {
    color: $red-color;
  }
}
