.navbar {
  justify-content: space-between;
  background: white;
  padding: 0;

  .inner-logedout {
    display: flex;
    padding: 5px 20px;
  }

  .inner-logedin {
    display: flex;
    padding: 5px 20px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .nav-wrapper {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(xs) {
      display: none;
    }

    &.is-active {
      display: flex;
      flex-direction: column;
      position: absolute;
      right: 0;
      top: 65px;
      width: 100%;
      background-color: white;
      padding: 20px 0;

      .username,
      .dropdown-item {
        width: 100%;
        margin-right: -28px;
      }

      .btn-overlay {
        display: none;
      }
    }
  }

  .btn-overlay {
    outline: none;
  }

  .burger {
    display: none;
  }


  @include media-breakpoint-down(xs) {
  .burger {
    display: block;
    margin: 5px;
    }
  }

  .fa-grip-lines {
    font-size: 18px;
  }

  .username {
    padding-left: 15px;
    margin-right: 40px;
    margin-bottom: 0;
  }

  .avatar {
    margin-right: 15px;
  }
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 40px;
}

.dropdown-item {
  font-weight: 300;
  font-size: 14px;
  padding: 12px;

  &:hover {
    color: #c6dcfd;
    background-color: #fff;
    text-decoration: none;
  }
}

.dropdown-menu {
  padding: 0;
  border: none;
  border-radius: 0;
  left: -50px;
  width: 100%;
  left: 0;
}
