  .name-wrapper,
  .password-wrapper {
    display: flex;
    justify-content: space-between;

    .form-group {
      flex: 0 0 48%;
    }
  }

.form-actions {
  display: flex;
  justify-content: center;
}

// .btn-close {
//   position: absolute;
//   top: 29px;
//   right: -40px;
//   background-color: white;
//   width: 40px;
//   height: 40px;
// }

.overlay-wrapper {
  position: absolute;
  left: 0;
  top: 70px;
  height: calc(100% - 70px);
  width: 50vw;
  background-color: #fff;
  transform: translateX(-100%);
  transition: all 800ms cubic-bezier(0.215, 0.61, 0.355, 1);

  @include media-breakpoint-down(sm) {
   width: 100vw;
  }

  &.is-active {
    transform: translateX(0);
  }
}

.overlay {
  display: flex;
  flex-direction: column;
  padding: 25px;
  overflow: auto;
  height: calc(100% - 60px);
  justify-content: center;

  .form-inputs {
    margin: 35px 0;
  }

  .form-check {
    padding: 25px;
    width: 100%;
    display: flex;
  }
}

.close-login,
.close-signup {
    position: absolute;
    top: 16px;
    right: 30px;
  }

.form-check input {
  background-color: #fff;
  border: 1px solid black;
  border-radius: 2px;
  width: 12px;
  height: 12px;

  &:checked {
    background-color: black;
  }
}

.is-hidden {
  display: none;
}
